<header>
  <section class="textos-header">
      <h1>Bienvenido al Sistema de Competencias ICPC</h1>
      <h2>Somos un sistema dedicado a la gestión de eventos y competencias de programacion.</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
          style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #fff;"></path>
      </svg></div>
</header>
<main>
  <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestro servicios</h2>
      <div class="contenedor-sobre-nosotros">
          <img src="../../../../../assets/escudoumss.png" alt="" class="imagen-about-us">
          <div class="contenido-textos">
            <h3><span>1</span>Las mejores competencias</h3>
            <p>Organizamos competencias desafiantes y emocionantes, fomentando la resolución creativa de problemas y la innovación tecnológica. Nuestros eventos destacan por su nivel de competitividad y calidad.</p>
            <h3><span>2</span>Los mejores eventos</h3>
            <p>Ofrecemos eventos dinámicos donde los participantes pueden desarrollar habilidades en programación, promoviendo la colaboración y el aprendizaje entre los asistentes. Nuestros eventos son reconocidos por su alto nivel de organización y diversidad de desafíos.</p>
          </div>
      </div>
  </section>
  <section class="portafolio">
      <div class="contenedor">
          <h2 class="titulo">Portafolio</h2>
          <div class="galeria-port">
              <div class="imagen-port">
                  <img src="../../../../../assets/1.jpg" alt="">
                  <div class="hover-galeria">
                      <img src="../../../../../assets/icono1.png" alt="">
                      <p>Nuestro trabajo</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="../../../../../assets/3.jpg" alt="">
                  <div class="hover-galeria">
                      <img src="../../../../../assets/icono1.png" alt="">
                      <p>Nuestro trabajo</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="../../../../../assets/4.jpg" alt="">
                  <div class="hover-galeria">
                      <img src="../../../../../assets/icono1.png" alt="">
                      <p>Nuestro trabajo</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="../../../../../assets/5.jpg" alt="">
                  <div class="hover-galeria">
                      <img src="../../../../../assets/icono1.png" alt="">
                      <p>Nuestro trabajo</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="../../../../../assets/6.jpg" alt="">
                  <div class="hover-galeria">
                      <img src="../../../../../assets/icono1.png" alt="">
                      <p>Nuestro trabajo</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="clientes contenedor">
      <h2 class="titulo">Que dicen nuestros participantes</h2>
      <div class="cards">
        <div class="card">
            <img src="../../../../../assets/2.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Juan Pérez</h4>
                <p>"Participar en sus competencias me permitió mejorar mis habilidades de programación y encontrar nuevas oportunidades laborales. ¡Increíble experiencia!"</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/3.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Maria Gómez</h4>
                <p>"Los eventos que organizan son excelentes para conocer gente nueva y aprender de los desafíos planteados. ¡Totalmente recomendados!"</p>
            </div>
        </div>
    </div>
  </section>

</main>
<footer>
  <div class="contenedor-footer">
      <div class="content-foo">
          <h4>Celular</h4>
          <p>+591 60384017</p>
      </div>
      <div class="content-foo">
          <h4>Email</h4>
          <a class="mail" href="mailto:codefusionsoft@gmail.com">codefusionsoft@gmail.com </a>
      </div>
      <div class="content-foo">
          <h4>Ubicacion</h4>
          <p>Man Cesped #17</p>
      </div>
  </div>
  <h2 class="titulo-final">&copy; Code Fusion Software Development S.R.L.</h2>
</footer>
