<h1>Notificar Comptetencia</h1>
<div style="margin:20px 0px 0px 40px">
    <form [formGroup]="editarForm" (ngSubmit)="editarCompetencia(editarForm.value,dataCompetencia.id)">
    

        <mat-form-field class="campo" hintLabel="Mínimo 4 y máximo 300 caracteres">
            <mat-label>Reporte:</mat-label>
            <textarea matInput #reporteInput formControlName="reporte"></textarea>
            <mat-hint align="end">{{reporteInput.value.length}}/300</mat-hint>
            <mat-error *ngIf="editarForm.get('reporte')?.invalid">{{getReporteErrorMessage()}}</mat-error>
          </mat-form-field>

  <section>    
    <div class="example-button-row">
      <button type="submit" color="primary" mat-raised-button>Enviar</button>
      <button mat-raised-button  routerLink="/admin/competencias">Cancelar</button>
    </div>
  </section>
</form>
</div>
