.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.example-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
