<h1 style="margin:20px 0px 0px 40px">Eventos</h1>

<mat-card style="margin: 20px 40px 40px 40px">

    <mat-card-title>

    <div class="contenedorTitulo">
      <div class="boton">
        <button mat-raised-button color="primary" 
          (click)="nuevoEvento()">
          <mat-icon mat-list-icon>add</mat-icon> 
          Nuevo Evento
        </button>
      </div>
    </div>

    </mat-card-title>
    <mat-divider inset></mat-divider>
  
    <mat-card-content class="dashboard-card-content">
  
      <div class="mat-elevation-z2">
        <div class="section-card">

          <mat-card class="card">
            <mat-card-header>
              <mat-card-title> Eventos Activos </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/evento.jpg" >
            <mat-card-actions>
              <button  
                mat-raised-button color="primary"
                
                (click)="VerEventosActivos()"
                >Ver</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="card">
            <mat-card-header>
              <mat-card-title> Eventos Inactivos </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/EvInactivo.jpeg" >
            <mat-card-actions>
              <button  
                mat-raised-button color="primary"
                
                (click)="VerEventosInactivos()"
                >Ver</button>
            </mat-card-actions>
          </mat-card>
        
        </div>  
      </div>
  
    </mat-card-content>
  
  </mat-card>
