<footer class="footer container">
    <img class="logo-2" src="assets/Logotype.png" alt="">

    <div class="links">
        <h4>LOREM</h4>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>

    <div class="links">
        <h4>LOREM</h4>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>

    <div class="links">
        <h4>LOREM</h4>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>

    <div class="links">
        <h4>LOREM</h4>
        <div class="socials">
            <a href="#">
                <div class="social">
                    <img src="assets/s1.svg" alt="">
                </div>
            </a>

            <a href="#">
                <div class="social">
                    <img src="assets/s2.svg" alt="">
                </div>
            </a>

            <a href="#">
                <div class="social">
                    <img src="assets/s3.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</footer>