.contenedor {
  width: 100%;
  margin: 90px;
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.example-button-row {
  width: 90%;
  display: flex;
  justify-content: center;
}
.formulario {
  display: flex;
  gap: 30px;
  align-items: center;
}

.text-error {
  color: red;
}