<h1 style="margin:20px 0px 0px 40px">Competencias</h1>

<mat-card style="margin: 20px 40px 40px 40px">

    <mat-card-title>
      <div class="contenedorTitulo">      
        <div class="buscador">
          <mat-form-field class="buscar">
            <input matInput placeholder="Buscar competencia por nombre" [(ngModel)]="searchTerm" (input)="filteredCompetens()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
      

    
    </mat-card-title>
    <mat-divider inset></mat-divider>
  
    <mat-card-content class="dashboard-card-content">
  
      <div class="mat-elevation-z2">
        <div class="section-card">
          <!-- -->
          <ng-container *ngIf="filteredCompetencias.length > 0; else noCompetencias"> 
            <!--  -->
          <mat-card class="card" *ngFor="let competencias of filteredCompetencias">
            <mat-card-header>
              <mat-card-title> {{competencias.nombre}} </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{competencias.imagen}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h1>{{competencias.descripcion}}</h1>

              <p><strong>Fecha: </strong>{{competencias.fechaIni}}<strong> al </strong> {{competencias.fechaFin}}</p>
              <p><strong>Lugar: </strong> {{competencias.lugar}}<strong> - </strong> {{competencias.horarios}} </p>
              <p><strong>Costo: </strong> {{competencias.costo}}<strong> Bs.</strong></p>

              <h4>Requisitos </h4>
              <h2>{{competencias.requisitos}}</h2>

              <h3>{{competencias.email}}</h3>
            </mat-card-content>
            <mat-card-actions>
              <button  
                mat-raised-button color="primary"
                
                (click)="visualizarCompetencia(competencias.id)"
                >Ver mas</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <!-- Mostrar mensaje si no hay eventos -->
        <ng-template #noCompetencias>
          <div class="imagen-no-hay">
            <img src="../../../../../assets/Competencia inactiva.jpeg" alt="Photo of a Shiba Inu">
          </div>
          <div class="mensaje-no-hay">
            <h5>No existe competencias disponibles en el sistema. Si estás buscando una competencia específica por nombre y no lo encuentras, puede que aún no esté registrada.</h5>
          </div>
        </ng-template>
        </div>  
      </div>
  
    </mat-card-content>
  
  </mat-card>
