<h1 style="margin:20px 0px 0px 40px">Reportes de eventos</h1>

<mat-card class="contenedor-principal">
  <div class="descripcion-general">
    <p>
      Esta sección te permite visualizar reportes detallados de eventos. Utiliza los filtros disponibles para refinar tu búsqueda y visualizar datos específicos de los eventos. La tabla muestra información relevante como el nombre, lugar, fechas y costo de los eventos filtrados.
    </p>
  </div>
    <mat-card-title class="filter-section">
      <div class="contenedor-filtro filter-container">
        <mat-form-field>
          <mat-label>Estado:</mat-label>
          <mat-select [(ngModel)]="estadoFiltro" (ngModelChange)="applyEstadoFilter()">
            <mat-option value="Activo">Activo</mat-option>
            <mat-option value="Inactivo">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="pickerStart" (dateChange)="onStartDateSelected($event.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="pickerEnd" (dateChange)="onEndDateSelected($event.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Buscar eventos por nombre" [(ngModel)]="searchTerm" (input)="filteredCompetens()">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-title>

    <div class="table-section">
      <table class="report-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Lugar</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let competencia of filteredCompetencias">
            <td>{{ competencia.nombre }}</td>
            <td>{{ competencia.lugar }}</td>
            <td>{{ competencia.fechaIni }}</td>
            <td>{{ competencia.fechaFin }}</td>
            <td>{{ competencia.costo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    <div class="chart-section">
      <section class="date-chart">
        <section class="chart-buttons">
          <button (click)="generarGraficoFechas()" mat-raised-button color="primary">
            Generar gráfico basado en fechas
          </button>
          <p class="chart-description">
            Este gráfico de barras muestra la distribución de eventos según el filtro de fechas seleccionado, permitiendo visualizar la cantidad de eventos en un período de tiempo específico.
          </p>
        </section>
        <div id="chartfechas" class="chart"></div>
      </section>
  
      <section class="chart-container">
        <section class="chart-buttons">
          <button (click)="generarGraficoPie()" mat-raised-button color="primary">
            Generar gráfico de pastel de eventos
          </button>
          <p class="chart-description">
            Este gráfico de pastel muestra la distribución porcentual de los diferentes tipos de eventos, proporcionando una vista rápida de la participación de cada tipo.
          </p>
        </section>
        <div id="chartpie" class="chart"></div>
      </section>
  
      <section class="date-chart">
        <section class="chart-buttons">
          <button (click)="generarGraficoBarra()" mat-raised-button color="primary">
            Generar gráfico de barras de eventos
          </button>
          <p class="chart-description">
            Este gráfico de barras compara la cantidad de eventos activos e inactivos, ayudando a identificar patrones y tendencias en el estado de los eventos.
          </p>
        </section>
        <div id="chartbar" class="chart"></div>
      </section>
    </div>
    
</mat-card>
