<h1>Editar Competencia</h1>
<div style="margin:20px 0px 0px 40px">
<form [formGroup]="editarForm" (ngSubmit)="editarCompetencia(editarForm.value,dataCompetencia.id)">
  <section class="form">
  <section class="f1">

  <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 50 caracteres">
    <mat-label>Nombre competencia</mat-label>
    <input matInput #nombreInput formControlName="nombre">
    <mat-hint align="end">{{nombreInput.value.length}}/50</mat-hint>
    <mat-error *ngIf="editarForm.get('nombre')?.invalid">{{getNombreErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Tipo de competencia:</mat-label>
    <mat-select matInput formControlName="id_tipoCompetencias">
      <mat-option value="1">Individual</mat-option>
      <mat-option value="2">Grupal</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="campo" hintLabel="Mínimo 4 y máximo 300 caracteres">
    <mat-label>Descripción</mat-label>
    <textarea matInput #descInput formControlName="descripcion"></textarea>
    <mat-hint align="end">{{descInput.value.length}}/300</mat-hint>
    <mat-error *ngIf="editarForm.get('descripcion')?.invalid">{{getDescripcionErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 60 caracteres">
    <mat-label>Lugar:</mat-label>
    <input matInput #lugarInput formControlName="lugar">
    <mat-hint align="end">{{lugarInput.value.length}}/60</mat-hint>
    <mat-error *ngIf="editarForm.get('lugar')?.invalid">{{getLugarErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="campo" hintLabel="Mínimo 1 y máximo 30 caracteres">
    <mat-label>Horarios:</mat-label>
    <input matInput #hInput formControlName="horarios">
    <mat-hint align="end">{{hInput.value.length}}/30</mat-hint>
    <mat-error *ngIf="editarForm.get('horarios')?.invalid">{{getHorariosErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="campo" hintLabel="Si o No pertenece">
    <mat-label>Umss:</mat-label>
    <input matInput #umssInput formControlName="umss">
    <mat-hint align="end">{{umssInput.value.length}}/2</mat-hint>
    <mat-error *ngIf="editarForm.get('umss')?.invalid">{{getUmssErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="campo">
    <label>Imagen:</label>
    <input type="file" (change)="onFileSelected($event)" />
  </div>
  </section>
  <section>

    <div class="fechas-container">
      <mat-form-field class="campo" hintLabel="Elije una fecha inicial">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaIni">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="editarForm.get('fechaIni')?.invalid">{{getFechaIniErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="campo" hintLabel="Elije una fecha final">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fechaFin">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="editarForm.get('fechaFin')?.invalid">{{getFechaFinErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <mat-form-field class="campo" hintLabel="Mínimo 1 y máximo 6 caracteres">
      <mat-label>Costo:</mat-label>
      <input matInput #cInput formControlName="costo">
      <mat-hint align="end">{{cInput.value.length}}/6</mat-hint>
      <mat-error *ngIf="editarForm.get('costo')?.invalid">{{getCostoErrorMessage()}}</mat-error>
    </mat-form-field> 
  
    <mat-form-field class="campo" hintLabel="Mínimo 4 y maximo 1000 caracteres">
      <mat-label>Requisitos:</mat-label>
      <textarea matInput #requisitosInput formControlName="requisitos"></textarea>
          <mat-hint align="end">{{requisitosInput.value.length}}/1000</mat-hint>
          <mat-error *ngIf="editarForm.get('requisitos')?.invalid">{{getRequisitosErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 70 caracteres">
        <mat-label>Encargado:</mat-label>
        <input matInput #encargadoInput formControlName="encargado">
        <mat-hint align="end">{{encargadoInput.value.length}}/70</mat-hint>
        <mat-error *ngIf="editarForm.get('encargado')?.invalid">{{getEncargadoErrorMessage()}}</mat-error>
      </mat-form-field>
  
    <mat-form-field class="campo" hintLabel="Mínimo 4 y máximo 50 caracteres">
      <mat-label>Email:</mat-label>
      <input matInput #eInput formControlName="email">
      <mat-hint align="end">{{eInput.value.length}}/50</mat-hint>
      <mat-error *ngIf="editarForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="campo" hintLabel="Activo o Inactivo">
      <mat-label>Estado:</mat-label>
      <input matInput #estInput formControlName="estado">
      <mat-hint align="end">{{estInput.value.length}}/2</mat-hint>
      <mat-error *ngIf="editarForm.get('estado')?.invalid">{{getEstadoErrorMessage()}}</mat-error>
    </mat-form-field>
  

  </section>
</section>
  <section>    
    <div class="example-button-row">
      <button type="submit" color="primary" mat-raised-button>Guardar</button>
      <button mat-raised-button  color="warn" routerLink="/admin/competencias">Cancelar</button>
    </div>
  </section>
</form>
</div>
