<!-- crear-interesado.component.html -->
<h1>Crear Interesado</h1>
<div style="margin:20px 0px 0px 40px">
  <form [formGroup]="crearForm" (ngSubmit)="crearInteresado()">
    
    <section class="form">
      <section class="f1">
    
        <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 30 caracteres">
          <mat-label>Nombre:</mat-label> 
          <input matInput #nombreInput formControlName="nombre" required>
          <mat-hint align="end">{{nombreInput.value.length}}/30</mat-hint>
          <mat-error *ngIf="crearForm?.get('nombre')?.invalid">{{getNombreErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 30 caracteres">
          <mat-label>Apellidos:</mat-label> 
          <input matInput #aInput formControlName="apellidos" required>
          <mat-hint align="end">{{aInput.value.length}}/30</mat-hint>
          <mat-error *ngIf="crearForm?.get('apellidos')?.invalid">{{getApellidoErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 8 caracteres">
          <mat-label>Telefono:</mat-label> 
          <input matInput #tInput formControlName="telefono" required>
          <mat-hint align="end">{{tInput.value.length}}/8</mat-hint>
          <mat-error *ngIf="crearForm?.get('telefono')?.invalid">{{getTelefonoErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="campo" hintLabel="Mínimo 1 y máximo 3 caracteres">
          <mat-label>Semestre:</mat-label> 
          <input matInput #sInput formControlName="semestre" >
          <mat-hint align="end">{{sInput.value.length}}/3</mat-hint>
          <mat-error *ngIf="crearForm?.get('semestre')?.invalid">{{getSemestreErrorMessage()}}</mat-error>
        </mat-form-field>

  </section>
  <section>
    
    <div class="fechas-container">
      <mat-form-field class="campo" hintLabel="Elije una fecha">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_Nacimiento" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="crearForm?.get('fecha_Nacimiento')?.invalid">{{getFechaErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="campo" hintLabel="Mínimo 6 y máximo 10 caracteres">
        <mat-label>CI:</mat-label> 
        <input matInput #sisInput formControlName="ci" required>
        <mat-hint align="end">{{sisInput.value.length}}/10</mat-hint>
        <mat-error *ngIf="crearForm?.get('ci')?.invalid">{{getCiErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 20 caracteres">
      <mat-label>Carrera:</mat-label> 
      <input matInput #cInput formControlName="carrera">
      <mat-hint align="end">{{cInput.value.length}}/20</mat-hint>
      <mat-error *ngIf="crearForm?.get('carrera')?.invalid">{{getCarreraErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 50 caracteres">
      <mat-label>Email:</mat-label> 
      <input matInput #emailInput formControlName="email" required>
      <mat-hint align="end">{{emailInput.value.length}}/50</mat-hint>
      <mat-error *ngIf="crearForm?.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

  </section>
  </section>

    <div class="example-button-row">
      <button type="submit" color="primary" mat-raised-button>Guardar</button>
      <button mat-raised-button routerLink="/users/eventos">Cancelar</button>
    </div>
  </form>
</div>