<h1 style="margin:20px 0px 0px 40px">Reportes de competencias</h1>

<mat-card class="contenedor-principal">
  <div class="descripcion-general">
    <p>
      Esta sección te permite visualizar reportes detallados de competencias. Utiliza los filtros disponibles para
      refinar tu búsqueda y visualizar datos específicos de las competencias. La tabla muestra información relevante 
      como el nombre, lugar, fechas, costo y tipo de las competencias filtradas.
    </p>
  </div>

    <mat-card-title class="filter-section">
      <div class="contenedor-filtro" class="filter-container">
        <mat-form-field>
          <mat-label>Estado:</mat-label>
          <mat-select [(ngModel)]="estadoFiltro" (ngModelChange)="applyEstadoFilter()">
            <mat-option value="Activo">Activo</mat-option>
            <mat-option value="Inactivo">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="pickerStart" (dateChange)="onStartDateSelected($event.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="pickerEnd" (dateChange)="onEndDateSelected($event.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Buscar competencia por nombre" [(ngModel)]="searchTerm" (input)="filteredCompetens()">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-title>

    <div class="table-section">
      <table class="report-table">
        <thead>
          <!-- Encabezados de la tabla -->
          <tr>
            <th>Nombre</th>
            <th>Lugar</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Costo</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas con datos de las competencias -->
          <tr *ngFor="let competencia of filteredCompetencias">
            <td>{{ competencia.nombre }}</td>
            <td>{{ competencia.lugar }}</td>
            <td>{{ competencia.fechaIni }}</td>
            <td>{{ competencia.fechaFin }}</td>
            <td>{{ competencia.costo }}</td>
            <td>{{ getTipo(competencia.id_tipoCompetencias.toString()) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    <div class="chart-section">

      <section class="date-chart">
        <section class="chart-buttons">
          <button (click)="generarGraficoFechas()" mat-raised-button color="primary">
            Generar gráfico basado en fechas
          </button>
          <p class="chart-description">
            Este gráfico de barras muestra la distribución de competencias según el filtro de fechas seleccionado, permitiendo
            visualizar la cantidad de competencias en un período de tiempo específico.
          </p>
        </section>
        <div id="chartfechas" class="chart"></div>
      </section>
      
      <section class="chart-container">
        <section class="chart-buttons">
          <button (click)="generarGraficoPie()" mat-raised-button color="primary">
            Generar gráfico de pastel de competencias
          </button>
          <p class="chart-description">
            Este gráfico de pastel muestra la distribución porcentual de las diferentes categorías de competencias,
            proporcionando una vista rápida de la participación de cada tipo de competencia.
          </p>
        </section>
        <div id="chartpie" class="chart"></div>
      </section>
  
      <section class="date-chart">
        <section class="chart-buttons">
          <button (click)="generarGraficoBarra()" mat-raised-button color="primary">
            Generar gráfico de barras de competencias
          </button>
          <p class="chart-description">
            Este gráfico de barras compara la cantidad de competencias activas e inactivas, ayudando a identificar
            patrones y tendencias en el estado de las competencias.
          </p>
        </section>
        <div id="chartbar" class="chart"></div>
      </section>
  
      
    </div>
</mat-card>
