<div class="body">
    <mat-card class="loginCard">
  
      <div class="header">
        <h2>Login</h2>
      </div>
      <mat-card-content style="padding-bottom: 15px;">
        <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput autocomplete="off"/>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
              <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
            </mat-form-field>
            <div *ngIf="errorMsg" class="error-message">{{ errorMsg }}</div>
            <section class="btn">
              <button  mat-raised-button routerLink="/users">
                Retroceder
              </button>
              <button  mat-raised-button color="primary" type="submit" [disabled]="loading">
                Ingresar
                <mat-icon matSuffix>login</mat-icon>
              </button>
            </section>
              
            </div>
        </form>
        <div class="recuperar full-width" (click)="openDialog()">
          <label class="text" >Recuperar contraseña </label>
        </div>

      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>