<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <h1>Sistema de competencias ICPC</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
               routerLink="/users">
        <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav  #sidenav opened="true" mode="side">
        <mat-toolbar style="text-align: center">UMSS</mat-toolbar>
        <img class="umss-logo" src="../../../assets/escudoumss.png" alt="Imagen de presentación">
        <mat-nav-list > 
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/admin/eventos"> 
                <mat-icon matListItemIcon>local_activity</mat-icon>
                <div matListItemLine>Eventos</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/admin/competencias"> 
                <mat-icon matListItemIcon>diversity_3</mat-icon>
                <div matListItemLine>Competencias</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/admin/users"> 
                <mat-icon matListItemIcon>person</mat-icon>
                <div matListItemLine>Usuarios</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/admin/reportesComp"> 
                <mat-icon matListItemIcon>description</mat-icon>
                <div matListItemLine>Reportes competencias</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/admin/reportesEvent"> 
                <mat-icon matListItemIcon>description</mat-icon>
                <div matListItemLine>Reportes eventos</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>