<section class="container">
<div class="welcome-section">
    <div class="welcome-content">
        <h2>Bienvenido al Sistema de Competencias ICPC <br/> <br/> Vista Administrador <br/> </h2>
        <p>Somos un sistema dedicado a la gestión de eventos y competencias.</p>
    </div>
    <div class="icpc-logo">
        <img class="icpc-image" src="../../../assets/icpcbolivia.png" alt="Imagen de presentación">
    </div>
</div>

<div class="company-section">
    <div class="company-logo">
        <img class="company-image" src="../../../assets/codFusion.png" alt="Logo Code Fusion">
    </div>
    <div class="company-info">
        <h2>Contactos</h2>
        
            <li>Code Fusion Software Development S.R.L.</li>
            <li>codefusionsoft@gmail.com</li>
            <li>+591 60384017</li>
            <li> Man Cesped #177</li>
        
    </div>
</div>

</section>
