<h1>Crear Competencia</h1>
<div style="margin:20px 0px 0px 40px">
<form [formGroup]="crearForm" (ngSubmit)="crearCompetencia()">

  <section class="form">
  <section class="f1">

    <mat-form-field class="campo" hintLabel="Mínimo 3 y máximo 50 caracteres">
      <mat-label>Nombre competencia:</mat-label> 
      <input matInput #nombreInput formControlName="nombre">
      <mat-hint align="end">{{nombreInput.value.length}}/50</mat-hint>
      <mat-error *ngIf="crearForm?.get('nombre')?.invalid">{{getNombreErrorMessage()}}</mat-error>
    </mat-form-field>

  
  </section>
  <section>
  
    <div class="campo">
      <mat-slide-toggle formControlName="estado">Estado:</mat-slide-toggle>
      <span style="margin-left: 10px;">{{ crearForm.get('estado')?.value ? 'Activo' : 'Inactivo' }}</span>
    </div>    

</section>
  </section>

  <div class="example-button-row">
    <button type="submit" color="primary" mat-raised-button>Guardar</button>
    <button mat-raised-button  color="warn" routerLink="/admin/competencias">Cancelar</button>
  </div>
</form>
</div>

