  
.box-1{
    background-image: url(../../../assets/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 20px;
    border-radius: 5px; 
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.image {
    margin-bottom: 20px; 
    text-align: center;
}
    
.image img { 
    width: 180px;
}
    
.content h3 { 
    font-size: 20px; 
    color: #FDFDFD;
}
    
.content p {
    font-size: 15px; 
    color: #a0a0a0; 
    line-height: 2; 
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block; 
    padding: 10px 30px; 
    border: 1px solid #334; 
    color: #334; 
    font-size: 16px;
}
    
.btn:hover {
    background-color: rgb(220, 20, 60);
    border-color: rgb(220, 20, 60);
    color: #FDFDFD;
}
    
.icons {
    align-items: center; 
    justify-content: space-between;
    display: flex; 
    border-top: 1px solid #334;
    margin-top: 20px; 
    padding-top: 15px;
}