mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 25%;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px; /* Añade bordes redondeados para hacer la tarjeta más estilizada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una suave sombra */
}


.card img {
  width: 100%;
  height: 200px; /* Ajusta la altura según tu preferencia */
  object-fit: cover; /* Esto asegura que la imagen se ajuste al tamaño sin distorsionar */
  border-top-left-radius: 15px; /* Añade bordes redondeados solo a la esquina superior izquierda de la imagen */
  border-top-right-radius: 15px; /* Añade bordes redondeados solo a la esquina superior derecha de la imagen */
}

.card mat-card-content h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es más largo */
  font-size: 12px;
  height: 2.5em; /* Ajusta la altura según tu preferencia */
  font-weight:normal ;
  text-align: center;
}

.card mat-card-content h2 {
  font-size: 16px;
  font-weight:normal ;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es más largo */
  font-size: 12px;
  height: 2.5em; /* Ajusta la altura según tu preferencia */
  
}

.card mat-card-content h3 {
  font-size: 14px;
  font-weight:normal ;
  text-align: right;
  color: darkblue;
}

.card mat-card-content p {
  color: darkblue; /* Color de texto para los párrafos, puedes cambiarlo según tu preferencia */
  text-align: right;
  font-size: 14px;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}

.card mat-card-header mat-card-title {
  height: 4.6em; /* Ajusta la altura según tu preferencia */
  overflow: hidden;
  font-weight: bold;
}

/* buscador  */

.contenedorTitulo {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px; /* Ajusta el espacio entre los elementos según tu preferencia */
}

.boton-filtro {
display: flex;
align-items: center;
}

.boton {
/*flex: 1; /* Esto hará que el lado izquierdo tome el 50% del espacio disponible */
margin-right: 10px; /* Ajusta el espacio entre el botón y el filtro según tus preferencias */
}

.filtro-estado {
margin-right: 10px; /* Ajusta el espacio entre el filtro y el buscador según tus preferencias */
}

.buscador {
  flex: 0 0 50%; /* Esto hará que el lado derecho tome el 50% del espacio disponible */
display: flex;
justify-content: flex-end;
}


.mat-form-field {
width: 100%;
}

button.mat-button {
margin-left: 5px; /* Ajusta el margen izquierdo para el botón "close" según tus preferencias */
}

/* Agrega cualquier otro estilo que necesites a tus botones, íconos y campos de formulario */

.buscar {

width: 100%;
margin-bottom: 16px;
}

mat-card-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}