<h1>Información de la Competencia</h1>
<div style="margin:20px 0px 0px 40px">
  
  <section class="form">
    <section class="f1">
  
  <mat-form-field class="campo">
    <mat-label>Nombre de la Competencia</mat-label>
    <input matInput value={{competencias.nombre}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Tipo de competencia:</mat-label>
    <input matInput value="{{ tiposCompetencias[competencias.id_tipoCompetencias.toString()] }}" readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Descripción:</mat-label>
    <textarea matInput value={{competencias.descripcion}} readonly></textarea>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Lugar:</mat-label>
    <input matInput value={{competencias.lugar}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Horarios:</mat-label>
    <input matInput value={{competencias.horarios}} readonly>
  </mat-form-field>
  
  <mat-card class="imagen">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Imagen</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{competencias.imagen}} class="img" alt="Photo of a Shiba Inu">
  </mat-card>
</section>

<section>

  <div class="fechas-container">
    <mat-form-field class="campo">
      <mat-label>Fecha de inicio:</mat-label>
      <input matInput value={{competencias.fechaIni}} readonly>
    </mat-form-field>
  
    <mat-form-field class="campo">
      <mat-label>Fecha de finalización:</mat-label>
      <input matInput value={{competencias.fechaFin}} readonly>
    </mat-form-field>
  </div>

  <mat-form-field class="campo">
    <mat-label>Encargado:</mat-label>
    <input matInput value={{competencias.encargado}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Requisitos:</mat-label>
    <textarea matInput value={{competencias.requisitos}} readonly></textarea>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Costo:</mat-label>
    <input matInput value={{competencias.costo}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Email:</mat-label>
    <input matInput value={{competencias.email}} readonly>
  </mat-form-field>

</section>
</section>
<section>
    
  <div class="example-button-row">
    <button mat-raised-button color="primary" routerLink="/users/competencias">Volver</button>
    <button mat-raised-button color="secondary"(click)="registrarEquipo(competencias.id, competencias.id_tipoCompetencias, competencias.umss)">Registrarse</button>
  </div>
</section>

</div>
