<h1>Información del Evento</h1>
<div style="margin:20px 0px 0px 40px" >
  <section class="form">
  <section class="f1">
  
  <mat-form-field class="campo">
    <mat-label>Nombre evento</mat-label>
    <input matInput value={{evento.nombre}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Tipo de evento:</mat-label>
    <input matInput value="{{ tiposEventos[evento.id_tipoEventos.toString()] }}" readonly>
  </mat-form-field>
  

  <mat-form-field class="campo">
    <mat-label>Descripción:</mat-label>
    <textarea matInput value={{evento.descripcion}} readonly></textarea>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Lugar:</mat-label>
    <input matInput value={{evento.lugar}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Horarios:</mat-label>
    <input matInput value={{evento.horarios}} readonly>  
  </mat-form-field>

  <mat-card class="imagen">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Imagen</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{evento.imagen}} alt="Photo of a Shiba Inu" class="img">
  </mat-card>

</section>
<section class="f2">

  <div class="fechas-container">
    
    <mat-form-field class="campo">
      <mat-label>Fecha de inicio:</mat-label>
      <input matInput value={{evento.fechaIni}} readonly>
    </mat-form-field>

    <mat-form-field class="campo">
      <mat-label>Fecha de finalización:</mat-label>
      <input matInput value={{evento.fechaFin}} readonly>
    </mat-form-field>

  </div>

  <mat-form-field class="campo">
    <mat-label>Encargado:</mat-label>
    <input matInput value={{evento.encargado}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Requisitos:</mat-label>
    <textarea matInput value={{evento.requisitos}} readonly></textarea>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Costo:</mat-label>
    <input matInput value={{evento.costo}} readonly>
  </mat-form-field>

  <mat-form-field class="campo">
    <mat-label>Email:</mat-label>
    <input matInput value={{evento.email}} readonly>
  </mat-form-field>
  
  <mat-form-field class="campo">
    <mat-label>Estado:</mat-label>
    <input matInput value={{evento.estado}} readonly>
  </mat-form-field>
  
</section>
</section>
  
  <section>
    <div class="example-button-row">
      <button mat-raised-button (click)="editarEvento(evento.id)">Editar</button>
      <button mat-raised-button color="primary" routerLink="/admin/eventos">Volver</button>
      <button mat-raised-button color="warn" (click)="mostrarSweetAlert(evento.id)">Eliminar</button>
      <button mat-raised-button (click)="verInteresados(evento.id)">Ver Interesados</button>
    </div>
  </section>

</div>
