<h1 style="margin:20px 0px 0px 40px">Competencias</h1>

<mat-card style="margin: 20px 40px 40px 40px">

    <mat-card-title >
      <div class="contenedorTitulo">
        <div class="boton-filtro">
          <div class="boton">
            <button mat-raised-button color="primary" (click)="nuevaCompetencia()">
              <mat-icon mat-list-icon>add</mat-icon> Nueva Competencia
            </button>
          </div>
        
      
        <div class="filtro-estado">
          <mat-form-field>
            <mat-label>Estado:</mat-label>
            <mat-select [(ngModel)]="estadoFiltro" (ngModelChange)="applyEstadoFilter()">
              <mat-option value="Activo">Activo</mat-option>
              <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
        <div class="buscador">
          <mat-form-field class="buscar">
            <input matInput placeholder="Buscar competencia por nombre" [(ngModel)]="searchTerm" (input)="filteredCompetens()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
    </mat-card-title>
    <mat-divider inset></mat-divider>
  
    <mat-card-content class="dashboard-card-content">
  
      <div class="mat-elevation-z2">
        <div class="section-card">
          <mat-card class="card" *ngFor="let competencias of filteredCompetencias">
            <mat-card-header>
              <mat-card-title> {{competencias.nombre}} </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{competencias.imagen}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h1>{{competencias.descripcion}}</h1>

              <p><strong>Fecha: </strong>{{competencias.fechaFin}}<strong> al </strong> {{competencias.fechaIni}}</p>
              <p><strong>Lugar: </strong> {{competencias.lugar}}<strong> - </strong> {{competencias.horarios}} </p>
              <p><strong>Costo: </strong> {{competencias.costo}}</p>

              <h4>Requisitos </h4>
              <h2>{{competencias.requisitos}}</h2>

              <h3>{{competencias.email}}</h3>
            </mat-card-content>
            <mat-card-actions>
              <div class="example-button-row">
                <button mat-raised-button color="primary"(click)="visualizarCompetencia(competencias.id)">Ver mas</button>
                <button mat-raised-button (click)="notificarCompetencia(competencias.id)">Notificar</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>  
      </div>
  
    </mat-card-content>
  
  </mat-card>
