mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 25%;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px; /* Añade bordes redondeados para hacer la tarjeta más estilizada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una suave sombra */
}

.card img {
  width: 100%;
  height: 200px; /* Ajusta la altura según tu preferencia */
  object-fit: cover; /* Esto asegura que la imagen se ajuste al tamaño sin distorsionar */
  border-top-left-radius: 15px; /* Añade bordes redondeados solo a la esquina superior izquierda de la imagen */
  border-top-right-radius: 15px; /* Añade bordes redondeados solo a la esquina superior derecha de la imagen */
}

.card mat-card-content h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es más largo */
  font-size: 12px;
  height: 2.5em; /* Ajusta la altura según tu preferencia */
  font-weight:normal ;
  text-align: center;
}

.card mat-card-content h2 {
  font-size: 16px;
  font-weight:normal ;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es más largo */
  font-size: 12px;
  height: 2.5em; /* Ajusta la altura según tu preferencia */
  
}

.card mat-card-content h3 {
  font-size: 14px;
  font-weight:normal ;
  text-align: right;
  color: darkblue;
}

.card mat-card-content p {
  color: darkblue; /* Color de texto para los párrafos, puedes cambiarlo según tu preferencia */
  text-align: right;
  font-size: 14px;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limita a una línea */
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}

  .example-button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.card mat-card-header mat-card-title {
  height: 4.6em; /* Ajusta la altura según tu preferencia */
  overflow: hidden;
  font-weight: bold;
}


.contenedorTitulo {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.boton-filtro {
  display: flex;
  gap: 10px;
  align-items: center;
}



.filtro-estado {
margin-right: 10px; 
}

.buscador {
flex: 1; 
display: flex;
justify-content: flex-end;
}


.mat-form-field {
width: 100%;
}

button.mat-button {
margin-left: 5px; 
}

.buscar {
width: 100%;
margin-bottom: 16px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

/*imagne afuera*/
.imagen-no-hay img{
  width: 30%;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que la imagen se centre correctamente */
  border-top-left-radius: 15px; /* Añade bordes redondeados solo a la esquina superior izquierda de la imagen */
  border-top-right-radius: 15px; /* Añade bordes redondeados solo a la esquina superior derecha de la imagen */
}